.rating_container {
  display: flex;
  margin: 8px 0;
  flex-wrap: wrap;
}

@media (min-width: 1500px) {
  .rating_container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1499px) {
  .rating_container {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .rating_container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.label {
  margin-top: 2px;
  text-align: start;
}
