.card {
  width: 24rem;
  margin-top: 20px;
  margin-bottom: 19px;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.img {
  width: 24rem;
}

@media (max-width: 767px) {
  .card {
    width: 20rem;
    margin-top: 20px;
    margin-bottom: 19px;
    padding: 20px;
    position: relative;
    border-radius: 10px;
  }

  .img {
    width: 20rem;
  }
}

.desc {
  height: 3rem;
  overflow: hidden;
}
