.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;
}

.img {
  width: 180px;
  border-radius: 180px;
  border: 2px solid;
}

.title {
  font-size: 50px;
}
