.main_container {
  min-height: 100vh;
}

.side_bar {
  padding: 20px;
  border-right: 2px solid;
}

@media (max-width: 767px) {
  .side_bar {
    border: none;
  }
}

.presentation {
  text-align: center;
  color: white;
}

.description {
  text-wrap: wrap;
  font-size: 17px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.workspace {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100vw;
}

.cards_container {
  padding: 20px;
}

.cards_description {
  padding: 20px;
  height: 100%;
}

.icon {
  width: 30px;
  display: inline;
}
