.main_container {
  height: 100vh;
}

.side_bar {
  padding: 20px;
  border-right: 2px solid;
}

.presentation {
  text-align: center;
  color: white;
}

.workspace {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.cards_container {
  flex: 2;
  padding: 20px;
}

.cards_description {
  flex: 1;
  padding: 20px;
}

.icon {
  width: 30px;
  margin-right: 4px;
}
